<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="../musinsa/admin.css">
    <link rel = "stylesheet" href="../musinsa/bootstrap.css">
    <script src ="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../js/bootstrap.js"></script>
    <style>
         a:link{text-decoration: none;color: black;}
    a:visited{text-decoration: none;color: black;}
    a:active{text-decoration: none;color: black;}
    a:hover{text-decoration: none;color: black;}
    </style>
</head>
<body>


<!--영신사 스토어 헤더  -->
<header id="header_mu">
    <div id="header_div">
        <a href="/admin" class="no_line" style="color: white;">ㅁ
            <b>YOUNGSINSA STORE</b></a>

    </div>

    <div class="clear"></div>
</header>





<!--개인정보 헤더 -->
<header id="header_3" style="color:black">
    <ul>


        <li><a href="./admin/upload">상품등록</a></li>
        <li><a href="./admin/orderList">주문내역</a></li>
        <li><a href="./admin/orderSearch"> 주문배송조회</a></li>
        <li><a href="./admin/costomer"> 고객센터 </a></li>
        <li><a href="./admin/logout">로그아웃</a></li>

    </ul>
</header>


<section class="page">
    <div style="font-size: 40px;font-weight: bold;">관리자 페이지 </div>




</section>
</body>
</html>