<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영신사 스토어 </title>
    <style>
        a:link{text-decoration: none;color: black;}
        a:visited{text-decoration: none;color: black;}
        a:active{text-decoration: none;color: black;}
        a:hover{text-decoration: none;color: black;}

        </style>
    <script type="text/javascript" src="/musinsa/api.js?2"></script>
    <link rel="stylesheet" href="/musinsa/product.css?13">
    <link rel="stylesheet" href="/musinsa/order.css?13">
    <script src="<c:url value="/js/egovframework/mbl/cmm/jquery-1.11.2.min.js"/>"></script>



    <script>
        function cl(){

                $.ajax(){
                    url:'/hhhh/order/buy',
                    dataType:'json',
                    success:function(data){
                        alert(data.tid);
                    },
                    error:function(error){
                        alert(error);
                    }
                  };
             };

    </script>
</head>
<body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>




<!--영신사 스토어 헤더  -->
<header id="header_mu">
    <div id="header_div">
        <a href="/hhhh" class="no_line" style="color: white;">
            <b>YOUNGSINSA STORE</b></a>

    </div>
    <div id="header_div2">
        <ul>
            <li style="color: blue;">주말특가</li>
            <li style="color: purple;">아우터</li>
            <li style="color: red;">#SELF_LOVE</li>
            <li>랭킹</li>
            <li>업데이트</li>
            <li>코디</li>
            <li>세일</li>
            <li>스페셜</li>
            <li>이벤트</li>
            <li>브랜드</li>
        </ul>
    </div>
    <div class="clear"></div>
</header>


<!--개인정보 헤더 -->
<header id="header_3">
    <ul>
        <li>
            <a href="/hhhh/login" class="no_line" style="color: black;" th:if="${session.userID==null}" th:text="'로그인'">
                로그인</a>
            <a href="/hhhh/login" class="no_line" style="color: black;" th:unless="${session.userID==null}" th:text="${session.userID}">
                로그인</a>
        </li>
        <li class="sky" >
            <a href="/hhhh/login" class="no_line" style="color: rgb(23, 177, 238);" th:if="${session.userID==null}" th:text="'바로접속 off'">
                바로접속</a>
            <a href="/hhhh/login" class="no_line"  style="color: rgb(23, 177, 238);" th:unless="${session.userID==null}" th:text="'바로접속 on'">
                바로접속</a>
        </li>
        <li><a href="./hhhh/myPage"> 마이페이지</a></li>
        <li><a href="./hhhh/cart">장바구니</a></li>
        <li><a href="./hhhh/orderSearch"> 주문배송조회</a></li>
        <li><a href="./hhhh/costomer"> 고객센터 </a></li>
        <li><a href="./hhhh/logout">로그아웃</a></li>

    </ul>
</header>

<div>
    <ul id="rest">
        <a href="redirect:/localhost:8080/hhhh/login"><li id="rest_li"  style="padding:15px 0 0 0;"> 로그인</li></a>
        <a href="../hhhh/menu5.html"><li id="rest_li" style="height: 40px;">장바 <br>구니</li></a>
        <a href="#header_mu"><li id="rest_li" style="padding:15px 0 0 0;"> TOP </li></a>
    </ul>

</div>


<!-- 왼쪽 목차 -->
<aside id="aside_a">
    <section>
        <ul class="navbar_menu" style="list-style: none;">

            <a href="/hhhh/category/top">
                <li class="aside_li">상의 <span class="aside_small">&nbsp; Top</span></li>
            </a>
            <a href="/hhhh/category/outer">
                <li class="aside_li">아우터<span class="aside_small">&nbsp; Outer</span></li>
            </a>
            <a href="/hhhh/category/pants">
                <li class="aside_li">바지<span class="aside_small">&nbsp; Pants</span></li>
            </a>
            <a href="/hhhh/category/onepiece">
                <li class="aside_li">원피스<span class="aside_small">&nbsp; Onepiece</span></li>
            </a>
            <a href="/hhhh/category/skirt">
                <li class="aside_li">스커트<span class="aside_small">&nbsp; Skirt</span></li>
            </a>
            <a href="/hhhh/category/sneakers">
                <li class="aside_li">스니커즈<span class="aside_small">&nbsp; Sneakers</span></li>
            </a>
            <a href="/hhhh/category/shoes">
                <li class="aside_li">신발<span class="aside_small">&nbsp; Shoes</span></li>
            </a>
            <a href="/hhhh/category/bag">
                <li class="aside_li">가방<span class="aside_small">&nbsp; Bag</span></li>
            </a>
            <a href="/hhhh/category/sunglass">
                <li class="aside_li">선글라스<span class="aside_small">&nbsp; Sunglass</span></li>
            </a>
            <a href="/hhhh/category/accessory">
                <li class="aside_li">액세서리<span class="aside_small">&nbsp; Accessory</span></li>
            </a>
            <a href="/hhhh/category/watch">
                <li class="aside_li">시계<span class="aside_small">&nbsp; Watch</span></li>
            </a>
            <a href="/hhhh/category/jewelry">
                <li class="aside_li">주얼리<span class="aside_small">&nbsp; Jewelry</span></li>
            </a>
        </ul>
    </section>


    <section id="aside_section_2">
        <ul>
            <li><b>1번 배송 / 교환 / 환불관련</b></li>
            <li><b>2번 결제 / 회원관련</b></li>
            <li style="font-size: 15px; color: lightgrey;">오전 9시~오후 6시 운영</li>
        </ul>


    </section>
</aside>

<main>
    <div class="title">주문내역</div>

    <div class="box">
        <ul style="border-bottom: 1px gray solid;">
            <li class="box_li">
                <ul class="row" style="color: white; background-color: black;">
                    <li class="row_li1">상품명</li>
                    <li class="row_li2">브랜드</li>
                    <li class="row_li3">가격</li>
                    <li class="row_li4">주문 번호</li>
                </ul>
            </li>
            <div th:each="com:${order}">
                <form action="/hhhh/order/remove">
            <li class="box_li">
                <ul class="row">
                    <li class="row_li1-1" th:text="${com.modelName}" >상품명</li>
                    <li class="row_li2-1" th:text="${com.modelBrand}">브랜드</li>
                    <li class="row_li3-1"th:text="${com.price}">가격</li>
                    <li class="row_li4-1" th:text="${com.orderNum}">주문 번호</li>
                    <input type="hidden" name="orderNum" th:value="${com.orderNum}">
                    <input type="submit" value="취소">
                </ul>
            </li>
                </form>
            </div>




        </ul>



        <div class="box2">

            <form action="/hhhh/order/buy">
                <input class="button"  type="submit" value="주문하기">

            </form>
            <button id="apibtn" >주문하기</button>
            <button onclick="cl()" >주문하기</button>
        </div>


    </div>




</main>






</body>
</html>