<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영신사 스토어 </title>
    <style>
        a:link{text-decoration: none;color: black;}
        a:visited{text-decoration: none;color: black;}
        a:active{text-decoration: none;color: black;}
        a:hover{text-decoration: none;color: black;}

        </style>
    <link rel="stylesheet" href="./musinsa/product.css?ver1">

</head>
<body>


<!--영신사 스토어 헤더  -->
<header id="header_mu">
    <div id="header_div">
        <a href="../index.html" class="no_line" style="color: white;">
            <b>YOUNGSINSA STORE</b></a>
        <input type="text" size="23px">
    </div>
    <div id="header_div2">
        <ul>
            <li style="color: blue;">주말특가</li>
            <li style="color: purple;">아우터</li>
            <li style="color: red;">#SELF_LOVE</li>
            <li>랭킹</li>
            <li>업데이트</li>
            <li>코디</li>
            <li>세일</li>
            <li>스페셜</li>
            <li>이벤트</li>
            <li>브랜드</li>
        </ul>
    </div>
    <div class="clear"></div>
</header>


<!--스탠다드 쪽 헤더 -->
<header id="header_2">
    <ul>
        <li>스탠다드</li>
        <li>테라스샵</li>
        <li>셀렉트</li>
    </ul>

</header>

<!--개인정보 헤더 -->
<header id="header_3">
    <ul>
        <li>
            <a href="/hhhh/login" class="no_line" style="color: black;" th:if="${session.userID==null}" th:text="'로그인'">
                로그인</a>
            <a href="/hhhh/login" class="no_line" style="color: black;" th:unless="${session.userID==null}" th:text="${session.userID}">
                로그인</a>
        </li>
        <li class="sky">바로접속 On</li>
        <li> <a href="../hhhh/menu1.html">알림</a></li>
        <li><a href="../hhhh/menu2.html"> 마이페이지</a></li>
        <li>  <a href="../hhhh/menu3.html"> 최근 본 상품</a></li>
        <li><a href="../hhhh/menu4.html"> 좋아요</a></li>
        <li><a href="../hhhh/menu5.html">장바구니</a></li>
        <li><a href="../hhhh/menu6.html"> 주문배송조회</a></li>
        <li><a href="../hhhh/menu7.html"> 고객센터 </a></li>
        <li><a href="../hhhh/menu8.html">로그아웃</a></li>
        <li class="sky"><a href="../hhhh/menu9.html"> 친구초대 EVENT</a></li>
    </ul>
</header>

<div>
    <ul id="rest">
        <a href="../hhhh/login.html"><li id="rest_li" style="padding:15px 0 0 0;"> 로그인</li></a>
        <a href="../hhhh/menu5.html"><li id="rest_li" style="height: 40px;">장바 <br>구니</li></a>
        <a href="#header_2"><li id="rest_li" style="padding:15px 0 0 0;"> TOP </li></a>
    </ul>

</div>


<!-- 왼쪽 목차 -->
<aside id="aside_a">
    <section>
        <ul class="navbar_menu" style="list-style: none;">
            <a href="./best.html">
                <li class="aside_li">인기<span class="aside_small">&nbsp; Best</span></li>
            </a>
            <a href="./top.html">
                <li class="aside_li">상의 <span class="aside_small">&nbsp; Top</span></li>
            </a>
            <a href="./outer.html">
                <li class="aside_li">아우터<span class="aside_small">&nbsp; Outer</span></li>
            </a>
            <a href="./pants.html">
                <li class="aside_li">바지<span class="aside_small">&nbsp; Pants</span></li>
            </a>
            <a href="./onepiece.html">
                <li class="aside_li">원피스<span class="aside_small">&nbsp; Onepiece</span></li>
            </a>
            <a href="./skirt.html">
                <li class="aside_li">스커트<span class="aside_small">&nbsp; Skirt</span></li>
            </a>
            <a href="./sneakers.html">
                <li class="aside_li">스니커즈<span class="aside_small">&nbsp; Sneakers</span></li>
            </a>
            <a href="./shoes.html">
                <li class="aside_li">신발<span class="aside_small">&nbsp; Shoes</span></li>
            </a>
            <a href="./bag.html">
                <li class="aside_li">가방<span class="aside_small">&nbsp; Bag</span></li>
            </a>
            <li class="aside_li">여성가방<span class="aside_small">&nbsp; Women's bag</span></li>
            <li class="aside_li">선글라스<span class="aside_small">&nbsp; Sunglass</span></li>
            <li class="aside_li">액세서리<span class="aside_small">&nbsp; Accessory</span></li>
            <li class="aside_li">시계<span class="aside_small">&nbsp; Watch</span></li>
            <li class="aside_li">주얼리<span class="aside_small">&nbsp; Jewelry</span></li>
        </ul>
    </section>


    <section id="aside_section_2">
        <ul>
            <li>이미지 삽입</li>
            <li><b>1번 배송 / 교환 / 환불관련</b></li>
            <li><b>2번 결제 / 회원관련</b></li>
            <li style="font-size: 15px; color: lightgrey;">오전 9시~오후 6시 운영</li>
        </ul>


    </section>
</aside>
























<!-- 메인-->
<main>



    <aside id="photo">
        <img src="../images/bluejean.jpeg" th:src ="${product.photo2}">
    </aside>


    <aside id="info">

        <!--상품정보-->
        <section id="info_1">
            <h1 style="font-size: 30px; " ><b>Product Info</b>
                <span style="color: lightgray;font-size: 20px;">제품정보</span>
            </h1>

            <ul id="info_left">
                <li>브랜드</li>
                <li> 품번 </li>
                <li> 시즌 </li>
                <li> 성별 </li>
                <li>조회수(1개월)</li>

                <li>좋아요</li>
                <li>구매후기</li>

            </ul>

            <ul id="info_right">
                <li th:text="${product.modelBrand}">생로랑  </li>
                <li th:text="${product.modelNum}"> sl1234 </li>
                <li th:text="${product.season}">21fw</li>
                <li th:text="${product.sex}">성별 </li>
                <li th:text="${product.countNum}">조회수</li>
                <li th:text="${product.likeNum}">좋아요</li>
                <li >구매후기</li>
            </ul>
            <div class="clear"></div>
        </section>







        <!--가격정보-->
        <section id="info_3">
            <h1 style="font-size: 30px; " ><b>Price Info</b>
                <span style="color: lightgray;font-size: 20px;">가격정보</span>
            </h1>

            <ul id="info2_left">
                <li>무신사 판매가</li>
                <li>무신사 회원가</li>
                <li>무신사 적립금</li>


            </ul>
            <ul id="info_right">
                <li style="color: gray; font-size: 30px;" th:text="${product.price}" >490,000원</li>
                <li style="font-size: 20px;"th:text="${product.price}">259,000원</li>
                <li style="margin-top: 20px;" th:text="${product.price}">2590원</li>

            </ul>
            <div class="clear"></div>

        </section>



        <!--배송정보-->
        <section id="info_2">

            <div id="location" >
                <input type="submit" value="구매하기" id="buy">
                <input type="submit" value="장바구니" id="chart">
                <input type="submit" value="좋아요" id="likePlus">
            </div>

        </section>





    </aside>

    <div class="clear"></div>


</main>

<div id="clear"></div>
<div class="page">
    상세 페이지
</div>

<div class="big_box">
    <img src="../images/bluejean.jpeg" th:src ="${product.photo3}">


</div>
<div class="big_box">
    <img src="../images/bluejean.jpeg" th:src ="${product.photo4}">


</div>
<div class="big_box">
    <img src="../images/bluejean.jpeg" th:src ="${product.photo5}">


</div>
<div class="big_box">
    <img src="../images/bluejean.jpeg" th:src ="${product.photo6}">


</div>
<!--<div class="big_box">-->
<!--    <img src="../images/bluejean.jpeg" alt="">-->


<!--</div>-->



</body>
</html>