<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project/youngsinsa/member/MemberMapper">
    <insert id="saveUser" parameterType="/project/youngsinsa/member/MemberDto/Member">
        INSERT INTO member
        (USER_ID, USER_PW, USER_NAME, USER_AUTH, APPEND_DATE, UPDATE_DATE)
        VALUES(#{userId},#{userPw},#{userName},#{userAuth},#{appendDate},#{updateDate});
    </insert>
</mapper>